/* My Awesome Styles */

/* My Fonts Acumin and Oswald */

@import url("https://use.typekit.net/jgu1pak.css");
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap');

body {
  background: #5ED0FA;
  margin: 15px;
}

/******************************
Main Container/Wrapper
******************************/
main {
  margin: 0 auto;
  padding: 1em;
}

/******************************
Biography
******************************/
.heading {
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  border-radius: 5px;
  padding: 17px 17px 22px 17px;
  font-size: 2.75rem;
  background: #272727;
  color: white;
  letter-spacing: 3px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.hello {
  text-align: justify;
  padding: 25px;
  font-weight: 300;
  max-width: 545px;
  margin: 0 auto;
  line-height: 1.6;
  letter-spacing: .3px;
}

.bio, .hello {
  border-radius: 5px;
  font-family: 'Acumin Pro SemiCondensed', Arial, Helvetica, sans-serif;
  font-size: 1.04sem;
  background: #272727;
  color: white;
}

.bio {
  text-align: center;
  border-radius: 5px;
  background: #D0E4F5 url("/img/BlkNWhtCheckers_NEW.png") repeat fixed 100% 100%;
  font-weight: 600;
  margin-bottom: 50px;  
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

#rando-image {
 padding-top: 20px;
 padding-bottom: 50px;
 max-width: 300px;
 border-radius: 5px;
}

/******************************
Flickity Styling
******************************/
/* Style carousel container */

.carousel {
  border-radius: 5px;
  margin: 0 auto;
  background: #FFD0B5;
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  max-width: 65%;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

/* Style individual carousel-cell content */
.carousel .cell {
  background: #FFD0B5;
  width: 100%;
  border-radius: 5px;
}

.carouselIMGs {
  max-width: 100%;
  height: 23.5vh;
  border-radius: 5px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.CarouselInfo {
  padding-left: 10px;
  padding-bottom: 4px;
  color: #FFD0B5;
background: #5ED0FA;
line-height: 1.25;
letter-spacing: 1.8px;
text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
}

.flickity-button {
  color: #F9703E;
  background-color: #5ED0FA;
}

.flickity-page-dots .dot  {
  color: #F9703E;
  background-color: #F9703E;
}

.flickity-page-dots .dot.is-selected {
  color: #F9703E;
}

/******************************
Porfolio Gallery
******************************/
  .portfolioH2 {
  border-radius: 5px;  
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  text-align: center;
  color: white;
  letter-spacing: 5px;
  background-color: #272727;
  padding: 5px 10px 7px 10px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
  }

#galleryContainer {
  text-align: center;
  max-width: 100%;
  padding-top: 50px;
  border-radius: 5px;
  padding-bottom: 30px;
}

.folioImgs {
  border-radius: 5px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

/******************************
Footer + Contact Form
******************************/
.contactH2 {
  border-radius: 5px;
  text-align: center;
  padding: 8px 10px 10px 10px;
  background: #272727;
  color: white;
  letter-spacing: 5px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

footer {
  border-radius: 5px;
  width: 100%;
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  font-weight: 300;
  background: #D0E4F5 url("/img/BlkNWhtCheckers_NEW.png") repeat fixed 100% 100%;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

form{
  max-width:350px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
  
}
input,textarea{
  display: block;
  width:89%;
  padding: 10px 5%;
  border: 1px solid #272727;
  border-radius: 5px;
  margin-top: 10px; 
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
}
textarea{
  height: 150px;  
}
textarea:focus, input:focus, button{
    outline: 0;
}
.submit{
  border-radius: 5px;
  background-color: #272727;
  color: #fff;
  border: 0;
  padding: 5px 0;
  text-transform: uppercase;
  margin-top: 10px;
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  cursor: pointer;
  width: 100%;
  display: block;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}
.submit:hover{
  background-color: #fff;
  color: #ccc;
  border: 2px solid #ccc;  
}