/* My Awesome Styles */

/* My Fonts */

/* Fonts: Acumin and Oswald */
@import url("https://use.typekit.net/jgu1pak.css");
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap');


/* Diagnostic Styling 
  * Change Background Color
  * Outline Elements
  * Remove when done
*/


* {
    outline: 1px dotted black;
} 

.header{
  padding: 5px 30px 0px 30px;
  box-sizing: border-box;
  float: left;
}

/******************************
Main Container/Wrapper
******************************/
main {
  margin: 0 auto;
  padding: 1em;
}

/******************************
Biography
******************************/
.bio, .hello {
  text-align: center;
  font-family: 'Acumin Pro Condensed', Arial, Helvetica, sans-serif;
  font-size: rem;
}

.bio {
  background: #D0E4F5 url("/img/BlkNWhtCheckers_NEW.png") no-repeat fixed 100% 100%;
  font-weight: 600;
  margin-bottom: 50px;  
}

#rando-image {
 max-width: 300px;
}

/******************************
Flickity Styling
******************************/
/* Style carousel container */
.carousel {
  margin: 0 auto;
  background: #f1f1f1;
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  max-width: 40%;
}

/* Style individual carousel-cell content */
.carousel .cell {
  background: #f1f1f1;
  width: 100%;
  height: 20vh;
  
}

.carouselIMGs {
  max-width: 100%;
  height: 20vh;
}

/******************************
Porfolio Gallery
******************************/
  .portfolioH2 {
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  text-align: center;
  }

#galleryContainer {
  max-width: 100%;
  padding-top: 50px;
}

/******************************
Footer + Contact Form
******************************/
.contactH2 {
  text-align: center;
}

footer {
  width: 100%;
  padding-top: 30px;
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  font-weight: 300;
}

form{
  max-width:350px;
  margin: 0 auto;
}
input,textarea{
  display: block;
  width:89%;
  padding: 10px 5%;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;  
}
textarea{
  height: 150px;  
}
textarea:focus, input:focus, button{
    outline: 0;
}
.submit{
  border-radius: 5px;
  background-color: #ccc;
  color: #fff;
  border: 0;
  padding: 5px 0;
  text-transform: uppercase;
  margin-top: 10px;
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  cursor: pointer;
  width: 100%;
  display: block;
}
.submit:hover{
  background-color: #fff;
  color: #ccc;
  border: 2px solid #ccc;  
}