/* My Awesome Styles */

/* My Fonts */

/* Font: Acumin - very versatile and neutral in appearance + tone; 32 styles w/condensed & wide */
@import url("https://use.typekit.net/jgu1pak.css");


/* Diagnostic Styling 
  * Change Background Color
  * Outline Elements
  * Remove when done
*/

* {
    outline: 1px dotted black;
}

.header{
  padding: 5px 30px 0px 30px;
  box-sizing: border-box;
  float: left;
}

nav{
  width: 100%;
  height: 85px;
  background: grey;
  position: sticky;
  top: 0;
  z-index: 1;
}

nav ul{
  display:flex;
  margin: 0;
  padding: 15px 30px;
  float: right;
}

nav ul li{
  list-style: none;
}

nav ul li a{
  font-family: 'Acumin Pro SemiCondensed', Arial, Helvetica, sans-serif;
  display:block;
  color: white;
  padding: 0 25px;
  text-decoration: none;
  font-weight: bold;
  line-height:50px;
}

nav ul li:hover{
  background: grey;
}
nav ul li.active{
  background: grey;
}


/******************************
Main Container/Wrapper
******************************/
main {
  margin: 0 auto;
  padding: 1em;
}

/******************************
Biography
******************************/
.bio, .hello {
  text-align: center;
  font-family: 'Acumin Pro', Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}

.bio {
  font-weight: 600;  
}

#rando-image {
 max-width: 300px;
}

/******************************
Flickity Styling
******************************/
/* Style carousel container */
.carousel {
  background: grey;
  font-family: 'Acumin Pro', Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

/* Style individual carousel-cell content */
.carousel .cell {
  background: gray;
  width: 100%;
}

/******************************
Porfolio Gallery
******************************/
#galleryContainer {
  font-family: 'Acumin Pro', Arial, Helvetica, sans-serif;
  padding-top: 50px;
}

/******************************
Footer + Contact Form
******************************/
footer {
  width: 100%;
  float: left;
  padding-top: 30px;
  font-family: 'Acumin Pro', Arial, Helvetica, sans-serif;
}

form {
  background-color:grey;
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 450px;
	float: left;
	position: absolute;
}